In [1]:
import pandas as pd
from functions.data_cleaning import *

In [2]:
data = pd.read_csv('data/car.csv.gz', compression='gzip')

/var/folders/rh/w6cl6rd95vj2g4s03scz_4fc0000gn/T/ipykernel_40614/1059346822.py:1: DtypeWarning: Columns (27,224) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/car.csv.gz', compression='gzip')

In [3]:
data = prepare_data(data)

In [4]:
data = clean_data(data)

In [10]:
# check the number of na values, print when there are any
na_values = data.isna().sum()
if na_values.sum() > 0:
    print(na_values)

In [11]:
data

,year_production,mileage,engine_capacity,power,automatic_gearbox,doors_5,accident_free,price,brand_Audi,brand_BMW,...,color_Light_blue,color_Navy_blue,color_Orange,color_Other_color,color_Purple,color_Red,color_Silver,color_White,color_Yellow,condition_Used_cars
205,2012,104965,1368,105,0,0,1,17000,0,0,...,0,0,0,0,0,0,0,0,0,1
211,2011,230500,1956,136,0,1,1,35000,0,0,...,0,0,0,0,0,1,0,0,0,1
212,2010,182000,1742,235,0,1,0,34900,0,0,...,0,0,0,0,0,0,0,0,0,1
213,2007,263773,2387,200,0,1,1,18000,0,0,...,0,0,0,0,0,0,0,0,0,1
214,2009,292000,1910,150,0,1,1,11500,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214314,2016,147600,1998,145,0,1,1,64900,0,0,...,0,0,0,0,0,0,0,0,0,1
214315,2006,265404,1388,80,0,1,1,5500,0,0,...,0,0,0,0,0,0,0,0,0,1
214316,2010,221500,1560,115,0,1,0,12000,0,0,...,0,0,0,0,0,0,1,0,0,1
214321,2015,122300,1998,165,0,1,1,68000,0,0,...,1,0,0,0,0,0,0,0,0,1
214322,2019,97711,2488,194,1,1,1,119900,0,0,...,0,0,0,0,0,0,0,1,0,1

In [12]:
data.to_csv('data/alternative_cleaning.csv.gz', compression='gzip', index=False)