In [1]:
import pandas as pd
from functions.data_cleaning import *

In [2]:
data = pd.read_csv('data/car.csv.gz', compression='gzip')

/var/folders/rh/w6cl6rd95vj2g4s03scz_4fc0000gn/T/ipykernel_37291/1059346822.py:1: DtypeWarning: Columns (27,224) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('data/car.csv.gz', compression='gzip')

In [3]:
data = prepare_data(data)

In [4]:
data = clean_data(data)

In [5]:
data

,brand,year_production,mileage,engine_capacity,fuel_type,power,automatic_gearbox,drive_type,body_type,doors_5,color,accident_free,condition,price,currency
205,Alfa Romeo,2012,104965,1368,Benzyna,105,0,Front_wheel_drive,Small_cars,0,Beige,1,Used_cars,17000,PLN
211,Alfa Romeo,2011,230500,1956,Diesel,136,0,Front_wheel_drive,Combi,1,Red,1,Used_cars,35000,PLN
212,Alfa Romeo,2010,182000,1742,Benzyna,235,0,Front_wheel_drive,Compact,1,Brown,0,Used_cars,34900,PLN
213,Alfa Romeo,2007,263773,2387,Diesel,200,0,Front_wheel_drive,Combi,1,Brown,1,Used_cars,18000,PLN
214,Alfa Romeo,2009,292000,1910,Diesel,150,0,Front_wheel_drive,Compact,1,Black,1,Used_cars,11500,PLN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214314,Mazda,2016,147600,1998,Benzyna,145,0,Front_wheel_drive,Combi,1,Black,1,Used_cars,64900,PLN
214315,Mazda,2006,265404,1388,Benzyna+LPG,80,0,Front_wheel_drive,Compact,1,Gray,1,Used_cars,5500,PLN
214316,Mazda,2010,221500,1560,Diesel,115,0,Front_wheel_drive,Compact,1,Silver,0,Used_cars,12000,PLN
214321,Mazda,2015,122300,1998,Benzyna,165,0,Front_wheel_drive,Combi,1,Light_blue,1,Used_cars,68000,PLN
214322,Mazda,2019,97711,2488,Benzyna,194,1,Front_wheel_drive,Combi,1,White,1,Used_cars,119900,PLN

In [7]:
test = pd.get_dummies(data, columns=['brand'])
test

,year_production,mileage,engine_capacity,fuel_type,power,automatic_gearbox,drive_type,body_type,doors_5,color,...,brand_Saab,brand_Seat,brand_Skoda,brand_Smart,brand_SsangYong,brand_Subaru,brand_Suzuki,brand_Toyota,brand_Volkswagen,brand_Volvo
205,2012,104965,1368,Benzyna,105,0,Front_wheel_drive,Small_cars,0,Beige,...,0,0,0,0,0,0,0,0,0,0
211,2011,230500,1956,Diesel,136,0,Front_wheel_drive,Combi,1,Red,...,0,0,0,0,0,0,0,0,0,0
212,2010,182000,1742,Benzyna,235,0,Front_wheel_drive,Compact,1,Brown,...,0,0,0,0,0,0,0,0,0,0
213,2007,263773,2387,Diesel,200,0,Front_wheel_drive,Combi,1,Brown,...,0,0,0,0,0,0,0,0,0,0
214,2009,292000,1910,Diesel,150,0,Front_wheel_drive,Compact,1,Black,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214314,2016,147600,1998,Benzyna,145,0,Front_wheel_drive,Combi,1,Black,...,0,0,0,0,0,0,0,0,0,0
214315,2006,265404,1388,Benzyna+LPG,80,0,Front_wheel_drive,Compact,1,Gray,...,0,0,0,0,0,0,0,0,0,0
214316,2010,221500,1560,Diesel,115,0,Front_wheel_drive,Compact,1,Silver,...,0,0,0,0,0,0,0,0,0,0
214321,2015,122300,1998,Benzyna,165,0,Front_wheel_drive,Combi,1,Light_blue,...,0,0,0,0,0,0,0,0,0,0
214322,2019,97711,2488,Benzyna,194,1,Front_wheel_drive,Combi,1,White,...,0,0,0,0,0,0,0,0,0,0

In [8]:
one_hot_cols = ['brand', 'fuel_type', 'drive_type', 'body_type', 'color', 'condition']

for col in one_hot_cols:
    print(data[col].value_counts())

Skoda             8605
Audi              8315
Ford              7859
Renault           5576
BMW               5519
Peugeot           5224
Hyundai           3875
Volvo             3792
Kia               3734
Citroën           3448
Seat              3214
Fiat              2915
Mazda             1994
Honda             1773
Volkswagen        1753
Opel              1545
MINI              1520
Suzuki            1310
Nissan            1123
Dacia             1013
Toyota             956
Mercedes-Benz      829
Alfa Romeo         683
Mitsubishi         579
Chevrolet          578
Subaru             401
Smart              179
Lexus              168
Saab               151
DS Automobiles     132
Lancia             127
Jaguar              96
Porsche             75
Chrysler            73
Jeep                67
Dodge               54
SsangYong           43
Cupra               32
Land Rover          28
Infiniti            27
Maserati            17
Bentley             11
Cadillac            11
Isuzu                1
RAM                  1
Name: brand, dtype: int64
Benzyna            42602
Diesel             32100
Benzyna+LPG         3129
Hybryda             1190
Hybryda Plug-in      405
Name: fuel_type, dtype: int64
Front_wheel_drive    66387
4x4                   7967
Rear_wheel_drive      5072
Name: drive_type, dtype: int64
Combi         34664
Compact       26176
City_cars      9659
Small_cars     6615
Cabriolet      2312
Name: body_type, dtype: int64
Black          19063
White          12632
Gray           12565
Silver         10190
Blue            5921
Red             4462
Other_color     3530
Navy_blue       2789
Brown           1905
Green           1354
Burgundy        1297
Beige            942
Light_blue       920
Gold             697
Orange           455
Yellow           422
Purple           282
Name: color, dtype: int64
Used_cars    74492
New_cars      4934
Name: condition, dtype: int64

In [10]:
value_c = pd.DataFrame(data['brand'].value_counts())
value_c

                brand
Skoda            8605
Audi             8315
Ford             7859
Renault          5576
BMW              5519
Peugeot          5224
Hyundai          3875
Volvo            3792
Kia              3734
Citroën          3448
Seat             3214
Fiat             2915
Mazda            1994
Honda            1773
Volkswagen       1753
Opel             1545
MINI             1520
Suzuki           1310
Nissan           1123
Dacia            1013
Toyota            956
Mercedes-Benz     829
Alfa Romeo        683
Mitsubishi        579
Chevrolet         578
Subaru            401
Smart             179
Lexus             168
Saab              151
DS Automobiles    132
Lancia            127
Jaguar             96
Porsche            75
Chrysler           73
Jeep               67
Dodge              54
SsangYong          43
Cupra              32
Land Rover         28
Infiniti           27
Maserati           17
Bentley            11
Cadillac           11
Isuzu               1
RAM                 1

In [ ]:
# replace all spaces in colnames with underscores
data.columns = data.columns.str.replace(' ', '_')